<div class="card-body p-5 text-center">
    <h4 class="mb-4 fw-bold">Se connecter</h4>
    {{#if error }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ error }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{/if}}
    <div class="position-relative">
        <form action="/login" method="post">
            <div class="form-outline mb-4">
                <input type="email" name="email" id="email" class="form-control" required>
                <label class="form-label pt-2" for="email">Nom d'utilisateur</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control" required>
                <i class="position-absolute fas fa-eye-slash" id="icon-login" onclick="showPassword()"></i>
                <label class="form-label pt-2" for="password">Mot de passe</label>
            </div>
            <div class="form-check mb-4">
                <label class="form-check-label float-start" for="checkbox">
                    <input class="form-check-input" type="checkbox" id="checkbox">
                    Souviens moi
                </label>
                <a href="/password" class="float-end text-gray"> Mot de passe oublié ?</a>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-danger btn-lg text-white"> Connexion</button>
            </div>
        </form>
    </div>
    <hr class="my-4">
</div>