<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                {{#if user.role}}
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/home"
                            aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/employes"
                            aria-expanded="false">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="hide-menu">Gestion employés</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/services"
                            aria-expanded="false">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="hide-menu">Gestion services</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                            aria-expanded="false">
                            <i class="fab fa-google-wallet" aria-hidden="true"></i>
                            <span class="hide-menu">Gestion portefeuille</span>
                        </a>
                    </li>
                {{else}}
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/home"
                            aria-expanded="false">
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            <span class="hide-menu">Liste rendez-vous</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/horaire-de-travail" aria-expanded="false">
                            <i class="far fa-calendar-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Gestion horaire de travail</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/liste-des-taches" aria-expanded="false">
                            <i class="fas fa-tasks" aria-hidden="true"></i>
                            <span class="hide-menu">Gestion des tâches</span>
                        </a>
                    </li>
                {{/if}}
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/auth/parametre" aria-expanded="false">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                        <span class="hide-menu">Paramètre</span>
                    </a>
                </li>
                <li class="text-center p-20 upgrade-btn">
                    <a href="/auth/logout" class="btn d-grid btn-danger text-white"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>