<div class="card">
    <div class="card-body">
        <form class="form-horizontal form-material" action="/save-employe" method="POST" enctype="multipart/form-data">
           
            <div class="form-group mb-4">
                <label class="col-md-12 p-0">Nom et Prénom</label>
                <div class="col-md-12 border-bottom p-0">
                    <input type="text" placeholder="Johnathan Doe" class="form-control p-0 border-0" name="name"> 
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="example-email" class="col-md-12 p-0">Contact</label>
                <div class="col-md-12 border-bottom p-0">
                    <input type="text" placeholder="+261" class="form-control p-0 border-0" name="contact"> 
                </div>
            </div>

           <div class="form-group mb-4">
                <label class="col-md-12 p-0">Spécialité de l'employé</label>
                <div class="col-sm-12 border-bottom">
                    <select class="form-select shadow-none p-0 border-0 form-control-line" name="speciality">
                        <option>Manicure</option>
                        <option>Coiffure femme</option>
                        <option>Pedicure</option>
                        <option>Coloration cheveux</option>
                        <option>Massage</option>
                    </select>
                </div>
            </div>


           <div class="form-group mb-4">
                <label class="col-md-12 p-0">Photo (Glisser et déposer)</label>
                <div class="col-md-12 border-bottom p-0 drop-zone" id="dropZonePhoto">
                    <span class="drop-zone__prompt">Glisser et déposer une photo ici ou cliquez pour choisir un fichier</span>
                    <input type="file" class="form-control p-0 border-0" id="fileInput" name="photo" accept="image/*">
                </div>
                <div class="col-md-12 border-bottom p-0">
                    <img src="" id="photoPreview" alt="Aperçu de la photo" style="max-width: 200px; display: none;">
                </div>
            </div>


            <div class="form-group mb-4">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success">Enregistrer</button> 
                </div>
            </div>
        </form>
    </div>
</div>
<script src="js/dragDrop.js"></script>


                